{% extends 'base.jinja2' %}

{% block body %}
<section>
	<h2>randy</h2>
	<div>nap 1</div>
	<div>nap 2</div>
	<div>nap 3</div>
	<div>nap 4</div>
	<div>night</div>
</section>
<section>
	<h2>nap 1</h2>
	<form>
	<label>morning pick-up<input></label>
	<label>awake window<input>minutes</label>
	<label>calm-down time<input>minutes</label>
	<input type="button" value="→">
	<label>estimated baby sleep time<input disabled></label>
	<label>estimated baby put-down time<input disabled></label>
	</form>
</section>
<section>
	<h2>nap 2</h2>
	<form>
	<label>nap 1 wakeup time<input></label>
	<label>awake window<input>minutes</label>
	<label>calm-down time<input>minutes</label>
	<input type="button" value="→">
	<label>estimated baby sleep time<input disabled></label>
	<label>estimated baby put-down time<input disabled></label>
	</form>
</section>
{% endblock %}
