<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>baby debugger</title>
	<link href="https://fonts.googleapis.com/css?family=Metrophobic&amp;v1" rel="stylesheet" type="text/css">
	<link href="/static/style.css" rel="stylesheet" type="text/css">
	<link href="/static/baby_debugger.webmanifest" rel="manifest">
	<link href="/static/icon.png" rel="shortcut icon" type="image/x-icon">
	<link href="/static/icon.png" rel="apple-touch-icon" sizes="256x256">
	<meta name="viewport" content="width=device-width">
	<meta name="theme-color" content="#222">
</head>
<body>
	{% block body %}{% endblock %}
</body>
</html>
